<% 
	var headContent = {
	include("/pages/template/head.html"){}
%>


<%
};

var bodyContent = {
%>
<script type="text/javascript">

    var oper;
    jQuery(function($) {
        // 页面方法
        oper = {
            width : 800,
            height : 450,
            form : document.form1,
            list : function(id) {
                var url = 'front/imageshow/edit/'+id;
                this.form.action = url;
                this.form.submit();
            }
        };
    });

    //分页
    var paginator = function(page) {
        oper.list();
    };

</script>
<style>
.btn-link {
	padding: 2px 4px;
}
</style>
<form name="form1" action="" method="post"  class="form-inline" role="form">
		<input type="hidden" id="album_id" value="${attr.album_id}" />

	<div class="tableSearch">
		<%  //查询列表 %>
		<label class="form-group">相册：${album.name}</label>
		<button type="button" class="btn btn-default" onclick="history.go(-1);">
			<span class="glyphicon glyphicon-arrow-left"></span> 返 回
		</button>
		<!--<div class="form-group">-->
			<!--<input class="form-control" type="text" name="attr.name" value="${attr.name!''}"-->
				   <!--placeholder="请输入名称" required='required' />-->
		<!--</div>-->
		<!--<button type="button" class="btn btn-default" onclick="oper.list();" name="search">-->
			<!--<span class="glyphicon glyphicon-search"></span> 查 询-->
		<!--</button>-->
	</div>
		
		<div style="margin: 10px;width: 98%;">
			<div class="row">
			
				<% for(item in list){ %>
					<div class="col-sm-6 col-md-2">
				    <div class="thumbnail">
				      <a href="${flyfox.getImage(item)}"  target="_blank">
				      	<img class="img-thumbnail" style="width:250px;height:200px;" 
				      		src="${flyfox.getImage(item)}" alt="..." title="点击查看"></a>
				      <div class="caption">
				        <p>${item.name}${item.status==2?"<span style='color:red;'>（隐藏）</span>":""}</p>

				      </div>
				    </div>
				  </div>
				<%} %>
			</div>
		
		
		</div>
</form>
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>